* {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

  
.header {
    background-color: #1f2937;
    padding: 8px;
    display: flex;
    justify-content: center;
    color: rgb(202, 202, 202);
    padding-top: 20px;
}
.h-l{
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 24px;
    font-weight: bolder;
}
#links{
   gap: 16px;
   display: flex;
}
a{
text-decoration: none;
color: inherit;



}
.bod-one{
background-color: #1f2937;
display: flex;
justify-content: space-between;
padding: 60px 150px;
flex-wrap: wrap;

}
.TW{
    gap: 16px;
}
.b{
    font-size: 48px;
    color: white;
    font-weight:bolder;
}
.s{
    font-size: 18px;
    color: rgb(202, 202, 202);

}
.butone{
    margin-top: 1rem;
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    width: 130px;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
    color: #e5e7eb;
}



.bod-two{
   
}
.top{
    font-size: 36px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.contains{
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 50px;
    text-align: center;
    
}
.info{
    max-width: 200px;
    
}
.blank-box{
    margin-top: 1rem;
    width: 200px;         
    height: 200px;       
    border: 2px solid #3882f6;
    background-color: white;  
    gap: 80px;
    border-radius: 10px;
}
.text{
   width: 200px;
   min-width: 100px;
    justify-content: center;
    display: flex;
}



.bod-three{
display: flex;
flex-direction: column;
justify-content: center;
background-color: #e5e7eb;
padding: 60px 250px;
flex-wrap: wrap;
}
i{
    font-size: 36px;
    color: #1f2937;
    margin-top: 1000px;
    font-weight: lighter ;
}
.cit{
display: flex;
justify-content: flex-end;
font-weight: bold;
}



.bod-four{
display: flex;
justify-content: center;
padding: 100px 200px;
flex-wrap: wrap;

}
.call-to-action{
    background-color: #3882f6;
    border-radius: 8px;
    display: flex;
    padding: 40px 60px;
    justify-content: space-between;
    width: 2000px;
    color: #e5e7eb;
}
.real{
font-weight: bold;
font-size: large;

}
.ni{
    font-weight: lighter;
}
.button{
    background-color: #3882f6;
    border: 2px solid #e5e7eb;
    color: #e5e7eb;
    border-radius: 4px;
    padding: 10px 20px;
  
}



.bod-footer{
display: flex;
justify-content: center;
background-color: #1f2937;
color: #e5e7eb;
padding: 20px;
}